// Place all the styles related to the uploadsheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.upload-sheet {
  position: absolute;
  top: 50%;
  left: 30%;
  border: 2px solid greenyellow;
  width: 50%;
  padding: 12px 10px 10px 10px;

  .response-data {
    padding: 10px;
    
    .column.card {
      padding: 5px;
  }
  }
}